<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../staticFiles/home_style.css">
    <link rel="stylesheet" href="../staticFiles/global.css">

    <title>Questions</title>
</head>

<body class="trebuchet">
        
        


    <div class="questionsblock">

        <div class="scorebackground">
            <p class="scoretext barlowsemibold"><b>14</b></p>
        </div>

        <p class="questiontext">Dies ist die erste Frage</p>
        
        <input class="answerbutton" type="submit" value="Antwort">
        <input class="answerbutton" type="submit" value="Antwort">
        <input class="answerbutton" type="submit" value="Antwort">
    </div>






    <div class="div_navbaroutter">
        <a class="div_navbarinner2" href="https://www.placeaorder.de/" tabindex="-1">Fragen</a>
        <a class="div_navbarinner2" href="https://www.placeaorder.de/info/help" tabindex="-1">Erstellen</a>
        <a class="div_navbarinner2" href="https://www.placeaorder.de/info/help" tabindex="-1">Scoreboard</a>
        <a class="div_navbarinner" href="https://www.placeaorder.de/info/imprint" tabindex="-1">Impressum</a>
        <a class="div_navbarinner" href="https://www.placeaorder.de/info/privacy" tabindex="-1">Datenschutz</a>
        <a class="div_navbarinner" href="https://www.placeaorder.de/info/termsandconditions" tabindex="-1">AGBs</a>
    </div>
</body>
</html>