<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="staticFiles/global.css">
    </head>

    <body>
        <!-- question als p -->
        <p id="question">
            was gehst ab! hier ist die main page
        </p>
        

        <!-- alle buttons (antworten)-->
        <div id="answersBox">
            <button id="answerButton" type="button">Click Me!</button> 
            <button id="answerButton" type="button">Click Me!</button> 
            <button id="answerButton" type="button">Click Me!</button> 
        </div>
    </body>
</html>