<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <link rel="stylesheet" href="../staticFiles/create_style.css">
    <link rel="stylesheet" href="../staticFiles/global.css">
 
    <title>Create own Questions</title>
</head>
 
<body class="trebuchet">
 
 
 
 
    <div class="questionsblock">
 
        <div class="scorebackground">
            <p class="scoretext barlowsemibold"><b>Eigene Frage erstellen</b></p>
        </div>
 
        <input class="textfield trebuchet" type="text" id="create_question" name="create_question" placeholder="Frage" required minlength="1" maxlength="50">
 
        </br>
 
        <input class="textfieldanswers trebuchet" type="text" id="create_answer1" name="create_answer1" placeholder="Antwort 1" required minlength="1" maxlength="50">
        <input class="textfieldanswers trebuchet" type="text" id="create_answer2" name="create_answer2" placeholder="Antwort 2" required minlength="1" maxlength="50">
        <input class="textfieldanswers trebuchet" type="text" id="create_answer3" name="create_answer3" placeholder="Antwort 3" required minlength="1" maxlength="50">
 
        </br>
 
        <input class="submitbutton" type="submit" value="Hochladen">
    </div>
 
 
 
 
</body>
</html>
